SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
DB_NAME=it_project_management
DB_USER=postgres
DB_PASSWORD=your-postgres-password
DB_HOST=localhost
DB_PORT=5432

# Configuration Email
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
